<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNs6YtzyKxdmam5Ub00NkbyYR36C6JZ_KP8g&usqp=CAU" alt="" width="400px" srcset="">
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere doloribus molestias necessitatibus, assumenda ducimus repellendus accusamus fugiat dicta labore doloremque culpa nesciunt velit in repellat voluptas ad id sint mollitia.</p>
  </div>
</div>
